.myFirstHeading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
}
.myFirstHeading > div > h2 {
  color: orange;
  font-weight: bold;
  text-align: center;
}
